{% extends "_base_page.twig" %}
{% block header %}
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="_navbar_brand" href="{{site.url}}">
                <img src="{{ site.theme.link }}/images/_icons/certas.png" class="_h_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse _h_cnt_menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{site.url}}/a-propos" class="nav-link text-uppercase">A Propos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/services-en-stations" class="nav-link text-uppercase">Nos Stations</a></li>
                    <li class="nav-item"><a href="agent.html" class="nav-link text-uppercase">Nos carburants</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link text-uppercase">Nos Promos</a></li>
                    <li class="nav-item"><a href="properties.html" class="nav-link text-uppercase">Club certas Anergy</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link text-uppercase">Actualités</a></li>
                    <li class="nav-item"><a href="{{site.url}}/contact" class="nav-link  text-uppercase">Nous contacter</a></li>
                </ul>
            </div>
            <div class="_h_cnt_btn">
                <ul class="_h_lst_btn">
                    <li><button class="_h_btn">Partenaires</button></li>
                    <li><button class="_h_btn">Emplois</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        	{{post.get_field('description_header')}}
                                    	{% else %}
                                    		Certas Energy France fournit à plus de 100 000 personnes quotidiennement, des carburants de qualité dans environ 400 sites répartis sur l'ensemble du territoire français : plus de 270 stations automates Esso Express ouvertes 24h/24h, 7j/7j, environ 50 stations Esso sur autoroutes et un esemble de clients revendeurs à la marque <a href="#">Esso.</a>
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                    	{% else %}
                                    		Certas Energy France fournit à plus de 100 000 personnes quotidiennement, des carburants de qualité dans environ 400 sites répartis sur l'ensemble du territoire français : plus de 270 stations automates Esso Express ouvertes 24h/24h, 7j/7j, environ 50 stations Esso sur autoroutes et un esemble de clients revendeurs à la marque <a href="#">Esso.</a>
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                    	{% else %}
                                    		Certas Energy France fournit à plus de 100 000 personnes quotidiennement, des carburants de qualité dans environ 400 sites répartis sur l'ensemble du territoire français : plus de 270 stations automates Esso Express ouvertes 24h/24h, 7j/7j, environ 50 stations Esso sur autoroutes et un esemble de clients revendeurs à la marque <a href="#">Esso.</a>
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper {{sidebar_class}}">
    <div class="container-fluid text-center _bg_white pb-5 pt-5">
        <h1 class="title text-uppercase"><span> Notre </span> <b>réseau</b></h1>
        <div style="padding-left: 410px;">
            <div class="row">
                <div class="col-3">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="nt-reseau">
                                <img src="{{ site.theme.link }}/images/fuel-station.svg" class="nr-reseau">
                            </span>
                        </div>
                        <div class="media-body py-md-4">
                            <h3 class="text-uppercase">
                            	{% if post.get_field('reseau_express') %}
                            		{{ post.get_field('reseau_express') }}
                            	{% else %}
                            		Express
                            	{% endif %}
                            </h3>
                            <p>
                            	{% if post.get_field('description_express') %}
                            		{{ post.get_field('description_express') }}
								{% else %}
									Prix bas toute l'année,<br>24h/24h
								{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="nt-reseau">
                                <img src="{{ site.theme.link }}/images/road.svg" class="nr-reseau">
                            </span>
                        </div>
                        <div class="media-body py-md-4">
                            <h3 class="text-uppercase">
                            	{% if post.get_field('reseau_autoroute') %}
                            		{{ post.get_field('reseau_autoroute') }}
								{% else %}
									Autoroute
								{% endif %}
                            </h3>
                            <p>
                            	{% if post.get_field('description_autoroute') %}
                            		{{ post.get_field('description_autoroute') }}
								{% else %}
									
									Confort total pour les longs <br>voyages
								{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="nt-reseau">
                                <img src="{{ site.theme.link }}/images/Objet-dynamique-vectoriel.svg" class="nr-reseau">
                            </span>
                        </div>
                        <div class="media-body py-md-4">
                            <h3 class="text-uppercase">
                            	{% if post.get_field('reseau_acheteurs') %}
                            		{{ post.get_field('reseau_acheteurs') }}
								{% else %}
									Acheteurs
								{% endif %}
                            </h3>
                            <p>{{ post.get_field('description_acheteurs') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mt-4">
            <a href="{{post.get_field('bouton_decouvrez_notre_reseau')}}"> <button type="button" class="btn btn-reseau text-uppercase">Découvrez notre réseau</button> </a>
        </div>
    </div>
    <div class="container-fluid content-wrapper _bg_grey">
        <div class="pt-5 pr-5 pl-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="property-wrap ftco-animate">
                        {% set img_sec = post.get_field('decouvrez')["second_section_first"] %}
                        {# <a href="#" class="img" style="background-image: url({{ site.theme.link }}/images/work-1.jpg);"></a> #}
                        {% if img_sec %}
                        	<img src="{{img_sec.url}}" style="width:80%">
                        {% else %}
                        	<img src="{{site.theme.link}}/images/Pourquoi-certas.png" style="width:80%">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6" style="padding-top: 48px;">
                    <div class="property-wrap ftco-animate">
                        <div class="row justify-content-center">
                        </div>
                        <div class="row {# d-flex #}">
                            <div class="col-md-12 heading-section ftco-animate mt-5">
                            	{% if post.get_field('decouvrez')['second_section_titre'] %}
                                <span class="title text-uppercase title-sc">
                                	{{post.get_field('decouvrez')['second_section_titre']}}
                                </span>
								{% else %}
									<span class="title text-uppercase title-sc" style="color: #4f2f8d;">POURQUOI <strong>CHOISIR CERTAS</strong> ?</span>
								{% endif %}
                            </div>
                            <div class="col-md-4 {# d-flex #} align-self-stretch ftco-animate block-certas">
                                <div class="media block-6 why why-competition d-block text-center block-tcell pt-5">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <img src="{{site.theme.link}}/images/trophy.svg" class="img-section6">
                                    </div>
                                    <div class="media-body py-md-4">
                                        <h3 class="text-uppercase">
                                        	{% if post.get_field('decouvrez')['second_section_competitive'] %}
                                        		{{post.get_field('decouvrez')['second_section_competitive']}}
											{% else %}
												Compétitivité
											{% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 {# d-flex #} align-self-stretch ftco-animate block-certas">
                                <div class="media block-6 why why-fiability d-block text-center block-tcell pt-5">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <img src="{{site.theme.link}}/images/trusted.svg" class="img-section6">
                                    </div>
                                    <div class="media-body py-md-4">
                                        <h3 class="text-uppercase">
                                        	{% if post.get_field('decouvrez')['second_section_faibilite'] %}
                                        		{{post.get_field('decouvrez')['second_section_faibilite']}}
											{% else %}
												Fiabilité
											{% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 {# d-flex #} align-self-stretch ftco-animate block-certas">
                                <div class="media block-6 why why-proprete d-block text-center block-tcell pt-5">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <img src="{{site.theme.link}}/images/broom.svg" class="img-section6">
                                    </div>
                                    <div class="media-body py-md-4">
                                        <h3 class="text-uppercase">
                                        	{% if post.get_field('decouvrez')['second_section_propriete'] %}
                                        		{{post.get_field('decouvrez')['second_section_propriete']}}
											{% else %}
												Propriété
											{% endif %}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-md-12-btn text-center">
                                <a href="{{post.get_field('decouvrez')['bouton_notre_valeur_ajoute']}}">
                                    <button type="button" class="btn btn-reseau text-uppercase">Notre valeur ajoutée</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /content-wrapper -->
    <div class="container-fluid _bg_white pt-5 pb-5">
        {# {{dump(term)}} #}
        <h1 class="text-center title text-uppercase"><span> Nos </span> <b>Actualités</b></h1>
        <div class="pl-5 pr-5">
            {# <div class="row"> #}
                {% filter shortcodes|raw %}
                [recent_post_carousel slides_to_show="4" show_date="true"]
                {# [edv_list_publication_home] #}
                {# [bdp_post_slider limit="4" category="2" design="design-2" media_size="large" order="DESC" content_words_limit="10"] #}
                {% endfilter %}
                {# </div> #}
        </div>
    </div>
</div>
{% endblock %}