{% extends "_base_page.twig" %}
{% block header %}
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        	{{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
{% endblock %}
{% block content %}
<div class="wrapper {{sidebar_class}}">


    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active">{{post.post_title}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->
  <div class="container content-wrapper _pd_tp_50 _pd_bt_50">
  	<div>
		<h1 class="title title-c text-uppercase pl-3"><span> Nous </span> <b>Contacter</b></h1>
	  	<div class="row col-md-12 col-lg-12 col-sm-12 col-xl-12">
	  		<div class="col-md-6">
	  			{% if post.content%}
	  				{{post.content|raw}}
	  			{% else %}
	  				{% include 'contact-form.twig' %}
	  			{% endif %}
	  		</div>
	  		<div class="col-md-6" style="padding-left:66px">
		    	{% set img = post.get_field('image_nous_contacter') %}
	    		{% if img %}
	  				<img src="{{img.url}}" style="width: 100%;">
	    		{% else %}
	    			<img src="{{ site.theme.link }}/images/Nous-contacter.png" style="width: 100%;">
	  			{% endif %}
	  		</div>
	  	</div>
  	</div>
  	<div class="mt-5">
		<h1 class="title title-c text-uppercase pl-3"><span> Nous </span> <b>Trouver</b></h1>
	  	<div class="row col-md-12 col-lg-12 col-sm-12 col-xl-12">
	  		<div class="col-md-8">
	  			<div id="map" style="width:100%;height:100%;"></div>
	  			{# {% filter shortcodes|raw %}
	  				[osm_map lat="48.887970" long="2.168710" map_center="43.7586,6.9242" zoom="11" width="100%" height="450" tagged_type="contact" marker_name="mic_blue_pinother_02.png" map_border="thin solid blue" tagged_color="blue"]
	  				[osm_map lat="48.887970" long="2.168710" map_center="43.7586,6.9242" zoom="11" width="100%" height="450" tagged_type="contact" marker_name="mic_blue_pinother_02.png" map_border="thin solid"]
	  				[osm_map lat="48.887970" long="2.168710" zoom="15" width="100%" height="400" marker="47.069,15.41" map_border="thin solid blue" theme="ol" control="mouseposition,scaleline" marker_name="../../../themes/certas/images/_icons/localization-map.svg" marker_height="37" marker_width="32" marker_focus="5"]
				{% endfilter %}
		    	{% set location = post.get_field('google_map') %}
	    		{% if location is not empty %}
	    			<div class="acf-map">
						<div class="marker" data-lat="{{location.lat}}" data-lng="{{location.lng}}"></div>
					</div>
	    		{% endif %} #}
	  		</div>
	  		<div class="col-md-4" style="padding-top: 116px;padding-left: 60px;">
	  			<p>
	  				<img src="{{ site.theme.link }}/images/_icons/localization.svg" style="width:26px;">
	  				<span>9 Avenue Edouard Belin,</span><br>
	  				<span style="padding-left: 30px;">92500 Rueil-Malmaison</span>
	  			</p>
	  			<p>
	  				<img src="{{ site.theme.link }}/images/_icons/phone.svg" style="width:21px;">
	  				<span>01 55 94 06 28</span>
	  			</p>
	  			<p>
	  				<img src="{{ site.theme.link }}/images/_icons/mail.svg" style="width:23px;">
	  				<span>contact@certas.fr</span>
	  			</p>
	  			<div style="padding-left: 40px;">
		  			<a href="#">
		  				<button class="btn btn-first">Itinéraire</button>
		  			</a>
		  		</div>
	  		</div>
	  	</div>
  	</div>
  </div><!-- /content-wrapper -->
</div>

<!-- Fichiers Javascript -->

<script src="{{ site.theme.link }}/leaflet/leaflet.js"></script>
<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
<script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
<script type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 48.887970;
        var lon = 2.168710;
        var macarte = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map', {attributionControl: false}).setView([lat, lon], 11);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                // attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);

            var greenIcon = L.icon({
				iconUrl: '{{site.theme.link}}/images/_icons/localization-map.svg',
				iconSize:     [38, 95], // size of the icon
			});



            // Nous ajoutons un marqueur
			var marker = L.marker([lat, lon], {icon: greenIcon})
			.addTo(macarte)
			.bindPopup("<b>Rueil-Malmaison</b><br>9 Avenue Edouard Belin, 92500 Rueil-Malmaison")
            .openPopup();

			// Control 2: This add a scale to the map
            L.control.scale().addTo(macarte);

        // Control 3: This add a Search bar
            var searchControl = new L.esri.Controls.Geosearch().addTo(macarte);

            var results = new L.LayerGroup().addTo(macarte);

              searchControl.on('results', function(data){
                results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {
                	console.log(data.results[i]);
                  results.addLayer(L.marker(data.results[i].latlng, {icon: greenIcon}).bindPopup("<b>"+data.results[i].city+"</b><br>"+data.results[i].address+"").openPopup());
                }
              });
        }
        window.onload = function(){
			// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
			initMap(); 
        };
</script>

{% endblock %}