{% extends "_base_page.twig" %}
{% block header %}
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}" id="_pg_a-propos">


    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a class="a-navig" href="{{ site.url }}">Accueil</a></li>
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->

    <div class="container content-wrapper _pd_tp_50 _pd_bt_50">
        {% for acf in page_contents %}
            {% if not acf.slide_image_1 and acf.slide_image_2 and acf.slide_image_3 and acf.description_slide_1 and acf.description_slide_2 and acf.description_slide_3 %}
            {% endif %}
        {% endfor %}
        {% for i in 1..10 %}
            {% set certas = post.get_field("certas_energy_"~i) %}
            {% if certas and certas.first_title %}
                <div class="row">
                    <div class="col t_page">
                        <h2 class="_pd_tp_40">{{ certas.first_title }}</h2>
                        <p>
                            {{ certas.first_description }}
                        </p>
                        {% set u_url = certas.url_bouton_decouvrez_notre_reseau_first %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_first %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if u_url.url %}{{u_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if u_url.target %}{{u_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        {{ certas.texte_bouton_decouvrez_notre_reseau_first }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 col-lg-12 t_mobile">
                        <h2 class="_pd_tp_40">{{ certas.first_title }}</h2>
                        <p>
                            {{ certas.first_description }}
                        </p>
                        {% set u_url = certas.url_bouton_decouvrez_notre_reseau_first %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_first %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if u_url.url %}{{u_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if u_url.target %}{{u_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        {{ certas.texte_bouton_decouvrez_notre_reseau_first }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {% if  certas.first_image %}
                        <div class="col text-center _apropos_video t_page">
                            <div class="site-header">
                                {{certas.first_image}}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 text-center _apropos_video t_mobile">
                            <div class="site-header m_video">
                                {{certas.first_image}}
                            </div>
                        </div>
                    {% endif %}
                </div> 
            {% endif %}
            <div class="clearfix"></div>
            {% if certas and certas.second_title %}
                <div class="row second-top">
                    {% if certas.second_image %}
                        <div class="col text-center _apropos_second t_page">
                            <div class="site-header">
                                {{certas.second_image}}
                                {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 text-center _apropos_second t_mobile">
                            <div class="site-header m_video">
                                {{certas.second_image}}
                                {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col p-a-propos t_page">
                        <h2 class="_pd_tp_50">{{ certas.second_title }}</h2>
                        <p>
                            {{ certas.second_description }}
                        </p>
                        {% set s_url = certas.url_bouton_decouvrez_notre_reseau_second %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_second %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if s_url.url %}{{s_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if s_url.target %}{{s_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                            {{ certas.texte_bouton_decouvrez_notre_reseau_second }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12 col-lg-12 p-a-propos t_mobile">
                        <h2 class="_pd_tp_50">{{ certas.second_title }}</h2>
                        <p>
                            {{ certas.second_description }}
                        </p>
                        {% set sm_url = certas.url_bouton_decouvrez_notre_reseau_second %}
                        {% if certas.texte_bouton_decouvrez_notre_reseau_second %}
                            <div class="text-center _pd_tp_40">
                                <a href="{% if sm_url.url %}{{sm_url.url}}{% else %}#{% endif %}" class="_btn_lnk" target="{% if sm_url.target %}{{sm_url.target}}{% else %}_self{% endif %}">
                                    <button class="btn btn-secondary btn-first">
                                        {{ certas.texte_bouton_decouvrez_notre_reseau_second }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div><!-- /content-wrapper -->
</div>
{% endblock %}