{% extends "_base_page.twig" %}
{% block header %}
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="_navbar_brand" href="{{site.url}}">
                <img src="{{ site.theme.link }}/images/_icons/certas.png" class="_h_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#_nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse _h_cnt_menu" id="_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{{site.url}}/a-propos" class="nav-link text-uppercase">A Propos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/services-en-stations" class="nav-link text-uppercase">Nos Stations</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-carburants" class="nav-link text-uppercase">Nos carburants</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-promos" class="nav-link text-uppercase">Nos Promos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/club-certas-energy" class="nav-link text-uppercase">Club certas Anergy</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-actualites" class="nav-link text-uppercase">Actualités</a></li>
                    <li class="nav-item"><a href="{{site.url}}/contact" class="nav-link  text-uppercase">Nous contacter</a></li>
                    <li class="nav-item _h_cnt_btn">
                    	<ul class="_h_lst_btn">
		                    <li><a href="#" class="_h_btn">Partenaires</a></li>
		                    <li><a href="#" class="_h_btn">Emplois</a></li>
		                </ul>
                    </li>
                </ul>
            </div>
            <div class="_h_cnt_btn">
                <ul class="_h_lst_btn">
                    <li><button class="_h_btn">Partenaires</button></li>
                    <li><button class="_h_btn">Emplois</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
</div>
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}">


    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->

    <div class="container content-wrapper _pd_tp_50 _pd_bt_50">
        <div class="row">
            <div class="col-md-6">
                {% if post.get_field('first_title') %}
                    <h1>{{ post.get_field('first_title') }}</h1>
                {% else %}
                    <h5 class="t_promos t_marche font-family-pers">Certas energy <b>france</b></h5>
                {% endif %}
                <p>
                    {% if post.get_field('first_description') %}
                        {{ post.get_field('first_description') }}
                    {% else %}
                        Certas Energy France est une filiale du groupe DCC qui vient de fêter ses 40 ans (www.dcc.ie). L'activité de Certas Energy France a démarré au ois de juin 2015 avec l'acquisition d'une partie du réseau de stations-service à la manque Esso en France.

                        Certas Energy France fournit à plus de 100 000 personnes quotidiennement, des carburants de qualité dans environ 400 sites répartis sur l'ensemble du territoire <span class="st">français </span>: plus de 270 stations automates Esso Express ouvertes 24h/24h, 7j/7j, environ 50stations Esso sur autoroutes et un ensemble de clients revendeurs à la marque Esso.

                        La sécurité, une valeur de l'entreprise. Les standards les plus élevés sont appliqués systématiquement par l'équipe Certas Energy France et l'ensemble des intervenants sur nos sites. Seul l'engagement permanent de chacun des collaborateurs  de l'entreprise ou des partenaires permet d'atteindre les objectifs sur la sécurité et le respect de l'environnement.

                        L'Excellence Opérationnelle, un must. Le dynamisme et l'énergie déployés par nos collaborateurs permet d'améliorer chaque jour la qualité de nos opérations et l'accueil de nos clients dans notre réseau.

                        Le Développement, une mission. L'objectif du groupe DCC est de continuer à se développer. C'est donc celui de Certas Energy France.
                    {% endif %}
                </p>
                <div class="text-center">
                    <a href="{{post.get_field('url_bouton_decouvrez_notre_reseau_first')}}">
                        <button class="btn btn-secondary btn-first">
                            Découvrez notre reseau
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center _apropos_video">
                {% set img = post.get_field('first_image') %}
                <div class="site-header">
                    {% if img %}
                        {{img}}
                    {% else %}
                        <iframe width="560" height="315" src="http://www.youtube.com/embed/hYmIpRvg_DA" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                    {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row second-top">
            <div class="col-md-6 text-center _apropos_second">
                {% set img = post.get_field('second_image') %}
                <div class="site-header">
                    {% if img %}
                        {{img}}
                    {% else %}
                        <iframe width="560" height="315" src="http://www.youtube.com/embed/26vb7CNchoM" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                    {# <img src="{{img.url}}" class="img-responsive" style="width:100%" /> #}
                </div>
            </div>
            <div class="col-md-6">
                {% if post.get_field('second_title') %}
                    <h1>{{ post.get_field('second_title') }}</h1>
                {% else %}
                    <h5 class="t_promos t_marche font-family-pers"><span class="fw-l"> Le groupe  </span><b>ddc</b></h5>
                {% endif %}
                <p>
                    {% if post.get_field('second_description') %}
                        {{ post.get_field('second_description') }}
                    {% else %}
                        Le groupe DCC est une société spécialisée dans les services de support commercial, de vente, de marketing et de distribution, qui opère dans quatre secteurs : énergie, technologie, santé et environnement. DCC emploie plus de 10500 personnes entre son siège principal à Dublin et ses filiales dasn 15 pays européens

                        La société DCC est cotée au FTSE 100 (Bourse de Londres) dans la catégorie Services de Support et à affiché un chiffre d'affaire de 10,6 milliards de livres soit 14,5 milliards d'Euros l'année denière.

                        L'objectif principal du groupe DCC est celui de bâtir une société grandissante et durable, capable de générer d'importantes liquidités, et d'assurer  une rentabilité des capitaux engagés largement supérieure au coût des investissements.

                        Pour en savoir plus, visitez leDCC (en anglais).
                    {% endif %}
                </p>
                <div class="text-center">
                    <a href="{{post.get_field('url_bouton_decouvrez_notre_reseau_second')}}">
                        <button class="btn btn-secondary btn-first">
                            Découvrez notre reseau
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /content-wrapper -->
</div>
{% endblock %}