{% extends "_base_page.twig" %}
{% block header %}
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}" id="_pg_promos">
    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a class="a-navig" href="{{ site.url }}">Accueil</a></li>
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container content-wrapper pb-5">
        <div class="row">
            {% if promos is not empty %}
                {% for promo in promos %}
                    <div class="col-md-5">
                        <img class="img_promos" src="{{ promo.thumbnail.src }}">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h5 class="t_promos"><b>{{promo.title}}</b></h5>
                        <p class="ccm-p">
                            {{promo.content}}
                        </p>
                        <div>
                            <a href="{{promo.link}}">
                                <button class="btn btn-secondary btn-first">
                                    Voir la promo
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-5">
                    <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
                </div>
                <div class="col-md-7 mt-3">
                    <h5 class="t_promos"><b>Promo #1</b></h5>
                    <p class="ccm-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                    </p>
                    <div>
                        <a href="#">
                            <button class="btn btn-secondary btn-first">
                                Voir la promo
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

                <div class="col-md-5">
                    <img class="img_promos" src="{{ site.theme.link }}/images/promo-2.png">
                </div>
                <div class="col-md-7 mt-3">
                    <h5 class="t_promos"><b>Promo #2</b></h5>
                    <p class="ccm-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                    </p>
                    <div>
                        <a href="#">
                            <button class="btn btn-secondary btn-first">
                                Voir la promo
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

                <div class="col-md-5">
                    <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
                </div>
                <div class="col-md-7 mt-3">
                    <h5 class="t_promos"><b>Promo #3</b></h5>
                    <p class="ccm-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                    </p>
                    <div>
                        <a href="#">
                            <button class="btn btn-secondary btn-first">
                                Voir la promo
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

                <div class="col-md-5">
                    <img class="img_promos" src="{{ site.theme.link }}/images/promo-2.png">
                </div>
                <div class="col-md-7 mt-3">
                    <h5 class="t_promos"><b>Promo #4</b></h5>
                    <p class="ccm-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                    </p>
                    <div>
                        <a href="#">
                            <button class="btn btn-secondary btn-first">
                                Voir la promo
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

                <div class="col-md-5">
                    <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
                </div>
                <div class="col-md-7 mt-3">
                    <h5 class="t_promos"><b>Promo #5</b></h5>
                    <p class="ccm-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                    </p>
                    <div>
                        <a href="#">
                            <button class="btn btn-secondary btn-first">
                                Voir la promo
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}