{% extends "_base_page.twig" %}
{% block header %}
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="_navbar_brand" href="{{site.url}}">
                <img src="{{ site.theme.link }}/images/_icons/certas.png" class="_h_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse _h_cnt_menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{site.url}}/a-propos" class="nav-link text-uppercase">A Propos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/services-en-stations" class="nav-link text-uppercase">Nos Stations</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-carburants" class="nav-link text-uppercase">Nos carburants</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-promos" class="nav-link text-uppercase">Nos Promos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/club-certas-energy" class="nav-link text-uppercase">Club certas Anergy</a></li>
                    <li class="nav-item active"><a href="{{site.url}}/nos-actualites" class="nav-link text-uppercase">Actualités</a></li>
                    <li class="nav-item"><a href="{{site.url}}/contact" class="nav-link  text-uppercase">Nous contacter</a></li>
                </ul>
            </div>
            <div class="_h_cnt_btn">
                <ul class="_h_lst_btn">
                    <li><button class="_h_btn">Partenaires</button></li>
                    <li><button class="_h_btn">Emplois</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">Actualités</h1>
                                    <p style="font-size: 18px;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">Actualités</h1>
                                    <p style="font-size: 18px;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">Actualités</h1>
                                    <p style="font-size: 18px;">
                                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
</div>
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}" id="_gp_actualites">
	<!-- Aide à la navigation -->
	<div class="content-wrapper _bg_white">
	    <div class="container">
	    	<nav aria-label="breadcrumb">
				<ol class="breadcrumb _bredcrumb_custo">
			    	<li class="breadcrumb-item"><a href="#">Accueil</a></li>
			    	<li class="breadcrumb-item active">Actualités</li>
			  	</ol>
			</nav>
	    </div>
	</div>
	<!-- Aide à la navigation -->

	<div class="content-wrapper _bg_white">
	    <div class="container">
	        <article class="post-type-{{post.post_type}} _pd_bt_25 row" id="post-{{post.ID}}">
	            <section class="_article_content col-md-12">
	                <h1 class="_article_title">nos actualités</h1>
	            </section>

	            <section class="_article_content col-md-12 ">
                    <div class="row">
    	                <div class="col-md-6 _cnt_panel_actus">
                            <div class="_big_bloc_actus" style="background-image: url({{ site.theme.link }}/images/_pages/_nos_actualites/subway_beach_flags.jpg}})">
                                <div class="_bloc_shadow">
                                    <h4 class="_bloc_date">20 avril 2018</h4>
                                    <h2 class="_bloc_title">Ouverture d'un restaurant<br>subway</h2>
                                    <p class="_bloc_description">Dans le cadre de la réouverture progressive des boutiques sur nos stations...</p>
                                </div>
                            </div>
                        </div>
                        {% if posts is not empty %}
                            {% for term in posts %}
                                <div class="col-md-3 _cnt_panel_actus">
                                    <div class="panel _panel_actus">
                                        <div class="panel-body">
                                            <img src="{{term.thumbnail.src}}" class="_actu_img">
                                        </div>
                                        <div class="panel-footer">
                                            <h4 class="_actu_date">{{term.date}}</h4>
                                            <h2 class="_actu_title">{{term.title}}</h2>
                                            <p class="_actu_description">{{term.post_content|excerpt(13)}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 _cnt_panel_actus">
                                <div class="panel _panel_actus">
                                    <div class="panel-body">
                                        <img src="{{ site.theme.link }}/images/_pages/_nos_actualites/actus3.jpg}}" class="_actu_img">
                                    </div>
                                    <div class="panel-footer">
                                        <h4 class="_actu_date">20 avril 2018</h4>
                                        <h2 class="_actu_title">nos lavages</h2>
                                        <p class="_actu_description">Depuis que Certas Energy a racheté une partie des stations-service ESSO il y a plus de 3 ans, nous avons…</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
	            </section>

	        </article>
	    </div>
	</div><!-- /content-wrapper -->

</div>

{% endblock %} 