{% extends "_base_page.twig" %}
{% block header %}
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="_navbar_brand" href="{{site.url}}">
                <img src="{{ site.theme.link }}/images/_icons/certas.png" class="_h_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#_nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse _h_cnt_menu" id="_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{site.url}}/a-propos" class="nav-link text-uppercase">A Propos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/services-en-stations" class="nav-link text-uppercase">Nos Stations</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-carburants" class="nav-link text-uppercase">Nos carburants</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-promos" class="nav-link text-uppercase">Nos Promos</a></li>
                    <li class="nav-item"><a href="{{site.url}}/club-certas-energy" class="nav-link text-uppercase">Club certas Anergy</a></li>
                    <li class="nav-item"><a href="{{site.url}}/nos-actualites" class="nav-link text-uppercase">Actualités</a></li>
                    <li class="nav-item active"><a href="{{site.url}}/contact" class="nav-link  text-uppercase">Nous contacter</a></li>
                </ul>
            </div>
            <div class="_h_cnt_btn">
                <ul class="_h_lst_btn">
                    <li><button class="_h_btn">Partenaires</button></li>
                    <li><button class="_h_btn">Emplois</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        	{{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate {# d-flex align-items-end #}">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo. 
                                          {# {{post.post_content}} #}
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper {{sidebar_class}}">


    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item">{{post.parent.title}}</li>
                    <li class="breadcrumb-item active">{{post.title}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Aide à la navigation -->
  <div class="container content-wrapper _pd_tp_50 _pd_bt_50">
    <div class="row">
        <div class="col-4">
            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-1 red-border" name="search" id="search" type="text" placeholder="Recherche par ville" aria-label="Rechercher">
              <div class="input-group-append">
                <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                    aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="dropdown map_dropdown" id="dropdown"></div>

            <div class="col mt-4 l_carte">
                <h5 class="t_esso">Esso Alouette</h5>
                <p>
                    <img src="{{ site.theme.link }}/images/_icons/localization-carte.svg" style="width:16px;">
                    <span>3/5 Avenue Général Leclerc,</span><br>
                    <span style="padding-left: 20px;">Pessac - France</span>
                </p>
                <p class="c_information">
                    <a href="#">
                        Plus d'informations
                    </a>
                </p>
            </div>
            <div class="col mt-4 l_carte">
                <h5 class="t_esso">Esso Arcades</h5>
                <p>
                    <img src="{{ site.theme.link }}/images/_icons/localization-carte.svg" style="width:16px;">
                    <span>Route des Alpes,</span><br>
                    <span style="padding-left: 20px;">Aix-en-provence - France</span>
                </p>
                <p class="c_information">
                    <a href="#">
                        Plus d'informations
                    </a>
                </p>
            </div>
            <div class="col mt-4 l_carte">
                <h5 class="t_esso">Esso Alouette</h5>
                <p>
                    <img src="{{ site.theme.link }}/images/_icons/localization-carte.svg" style="width:16px;">
                    <span>3/5 Avenue Général Leclerc,</span><br>
                    <span style="padding-left: 20px;">Pessac - France</span>
                </p>
                <p class="c_information">
                    <a href="#">
                        Plus d'informations
                    </a>
                </p>
            </div>
            <div class="col mt-4 l_carte">
                <h5 class="t_esso">Esso Arcades</h5>
                <p>
                    <img src="{{ site.theme.link }}/images/_icons/localization-carte.svg" style="width:16px;">
                    <span>Route des Alpes,</span><br>
                    <span style="padding-left: 20px;">Aix-en-provence - France</span>
                </p>
                <p class="c_information">
                    <a href="#">
                        Plus d'informations
                    </a>
                </p>
            </div>
        </div>
        <div class="col-8">
            <div id="map" style="width:100%;height:98%;"></div>
        </div>
    </div>
  </div><!-- /content-wrapper -->
</div>

<!-- Fichiers Javascript -->

<script src="{{ site.theme.link }}/leaflet/leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.3.1/dist/esri-leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.js"></script>
<script src="https://unpkg.com/esri-leaflet-vector@2.0.2/dist/esri-leaflet-vector.js"></script>
<script src="https://unpkg.com/esri-leaflet-cluster@2.0.1/dist/esri-leaflet-cluster.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.css">
<script type="text/javascript">
            $('#ville').select2({

            });
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 44.798770;
        var lon = -0.663530;
        var macarte = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map', {attributionControl: false}).setView([lat, lon], 11);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                // attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);

            var greenIcon = L.icon({
                iconUrl: '{{site.theme.link}}/images/_icons/localization-map.svg',
                iconSize:     [38, 95], // size of the icon
            });

            var esso_alou = '<h5 class="t_esso">Esso Alouette</h5>'+
                '<p>'+
                    '<img src="{{ site.theme.link }}/images/_icons/localization-carte.svg" style="width:16px;">'+
                    '<span>Route des Alpes,</span><br>'+
                    '<span style="padding-left: 20px;">Aix-en-provence - France</span>'+
                '</p>';



            // Nous ajoutons un marqueur
            var marker = L.marker([lat, lon], {icon: greenIcon})
            .addTo(macarte)
            .bindPopup(esso_alou)
            .openPopup();

            // Control 2: This add a scale to the map
            L.control.scale().addTo(macarte);

        // Control 3: This add a Search bar
            var resu = new L.LayerGroup().addTo(macarte);

            L.esri.Geocoding.geocode().text('380 New York St, Redlands, California, 92373').run(function (err, results, response) {
              if (err) {
                console.log(err);
                return;
              }
              console.log(results);
              var res =results.results;
              resu.clearLayers();
              for (var i = res.length - 1; i >= 0; i--) {
                resu.addLayer(L.marker(res[i].latlng, {icon: greenIcon}).bindPopup("<b>"+res[i].city+"</b><br>"+res[i].address+"").openPopup());
              }
            });
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap(); 
        };
        window.re_bounds=[];
        window.curerntId = 0
        $('#search').on('keyup', function(event) {
            curerntId++
            let id = curerntId
            var search = $(this).val();
            $('#dropdown').html('');
            $('#dropdown').css('display', 'none');
            console.log(search.length);
            if (search != '' && search.length >= 2 && event.keyCode != 46) {
                setTimeout(function(){
                  window.recherche=search;
                  //document.getElementById('map').innerHTML='';
                  var geocoder = L.esri.Geocoding.geocodeService();
                  var map = macarte;
                  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
                  }).addTo(map);
                  L.esri.Geocoding.geocode().text(search).run(function (error, results, response) {
                    if(id != curerntId){
                        return true
                    }
                    if (error) {
                      return;
                    }
                    var res =results.results;
                    if (res) {
                        $('#dropdown').css('display', 'inline-block');
                        $('#dropdown').html('')
                            console.log("res",res)
                            console.log("response",response)
                        for (var i = res.length - 1; i >= 0; i--) {
                            console.log(res[i])
                            window.re_bounds[i] = res[i].bounds;
                            var div = "<div class='p_city'><div id='sel"+i+"' data-val='"+i+"' class='l_city'>"+res[i].text+"</div></div>";
                            $('#dropdown').append(div);
                            $('#sel'+i).on('click',function(event) {
                                $("#dropdown").html('');
                                $('#search').val('');
                                $(".l_city").removeClass();
                                var fil = $(this).data('val');
                                var c_bounds = re_bounds[fil];
                                map.fitBounds(c_bounds);
                            })
                        }
                    }
                    /*if(response.results[0]){
                        console.log(response.results[0])
                        map.fitBounds(response.results[0].bounds);
                    }
    */
                  });
                }, 100);
            }
        });

        $(document).on('click', function(event) {
            console.log(event.target);
            console.log($('#search')[0]);
          if (!$(event.target).closest('#dropdown').length && event.target != $('#search')[0])  {
                $("#dropdown").html('');
                $('#search').val('');
                $('#dropdown').css('display', 'none');
          }
        });

</script>

{% endblock %}