{% extends "_base_page.twig" %}
{% block header %}
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="_navbar_brand" href="{{site.url}}">
                <img src="{{ site.theme.link }}/images/_icons/certas.png" class="_h_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#_nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse _h_cnt_menu" id="_nav">
                <ul class="navbar-nav ml-auto" id="_menu">
                    <li class="nav-item"><a href="{{site.url}}/a-propos" class="nav-link text-uppercase">A Propos</a></li>
                    <li class="nav-item">
                        <a href="{{site.url}}/nos-stations/services-en-stations" class="nav-link text-uppercase">Nos Stations</a>
                        <ul class="nav-item submenu">
                            <li class="nav-item">
                                <a href="{{site.url}}/nos-stations/services-en-stations" class="nav-link text-uppercase">Services en stations</a>
                                <ul class="nav-item submenu">
                                    <li class="nav-item">
                                        <a href="{{site.url}}/nos-stations/services-en-stations/lavage" class="nav-link text-uppercase">Lavage</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="{{site.url}}/nos-stations/carte-de-nos-stations" class="nav-link text-uppercase">Carte de nos stations</a></li>
                            <li class="nav-item"><a href="{{site.url}}/nos-stations/carte-de-nos-stations-adresse" class="nav-link text-uppercase">Carte de nos stations Adresse sélectionné</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{site.url}}/nos-carburants" class="nav-link text-uppercase">Nos carburants</a>
                        <ul class="nav-item submenu">
                            <li class="nav-item"><a href="{{site.url}}/nos-carburants/produits" class="nav-link text-uppercase">Liste des produits vendus</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active"><a href="{{site.url}}/nos-promos" class="nav-link text-uppercase">Nos Promos</a></li>
                    <li class="nav-item">
                        <a href="{{site.url}}/club-certas-energy" class="nav-link text-uppercase">Club certas Anergy</a>
                        <ul class="nav-item submenu">
                            <li class="nav-item"><a href="{{site.url}}/club-certas-energy/comment-ca-marche" class="nav-link text-uppercase">Comment ça marche</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="{{site.url}}/nos-actualites" class="nav-link text-uppercase">Actualités</a></li>
                    <li class="nav-item"><a href="{{site.url}}/contact" class="nav-link  text-uppercase">Nous contacter</a></li>
                    <li class="nav-item _h_cnt_btn">
                    	<ul class="_h_lst_btn">
		                    <li><a href="#" class="_h_btn">Partenaires</a></li>
		                    <li><a href="#" class="_h_btn">Emplois</a></li>
		                </ul>
                    </li>
                </ul>
            </div>
            <div class="_h_cnt_btn">
                <ul class="_h_lst_btn">
                    <li><button class="_h_btn">Partenaires</button></li>
                    <li><button class="_h_btn">Emplois</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="_header_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#_header_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#_header_carousel" data-slide-to="1"></li>
            <li data-target="#_header_carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo.
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo.
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-wrap ftco-degree-bg header-bg propos-header" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row no-gutters slider-text justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
                                <div class="text text-center">
                                    <h1 class="mb-4">{{post.post_title}}</h1>
                                    <p style="font-size: 18px;">
                                        {% if post.get_field('description_header') %}
                                        {{post.get_field('description_header')}}
                                        {% else %}
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat rutrum leo et tincidunt. Nam eget erat felis. Vivamus nulla metus, maximus at mollis sed, blandit ac dui. Praesent lobortis lobortis volutpat. Aenean euismod ornare justo.
                                        {% endif %}
                                        <a href="#" class="a-prs"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
    </div>
</div>
{% endblock %}
{% block content %}

<div class="wrapper {{sidebar_class}}" id="_pg_promos">
    <!-- Aide à la navigation -->
    <div class="content-wrapper _bg_white">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb _bredcrumb_custo">
                    <li class="breadcrumb-item"><a class="a-navig" href="{{ site.url }}">Accueil</a></li>
                    <li class="breadcrumb-item active"><strong>{{post.title}}</strong></li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="container content-wrapper pb-5">
        <div class="row">
            <div class="col-md-5">
                <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
            </div>
            <div class="col-md-7 mt-3">
                <h5 class="t_promos"><b>Promo #1</b></h5>
                <p class="ccm-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                </p>
                <div>
                    <a href="#">
                        <button class="btn btn-secondary btn-first">
                            Voir la promo
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

            <div class="col-md-5">
                <img class="img_promos" src="{{ site.theme.link }}/images/promo-2.png">
            </div>
            <div class="col-md-7 mt-3">
                <h5 class="t_promos"><b>Promo #2</b></h5>
                <p class="ccm-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                </p>
                <div>
                    <a href="#">
                        <button class="btn btn-secondary btn-first">
                            Voir la promo
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

            <div class="col-md-5">
                <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
            </div>
            <div class="col-md-7 mt-3">
                <h5 class="t_promos"><b>Promo #3</b></h5>
                <p class="ccm-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                </p>
                <div>
                    <a href="#">
                        <button class="btn btn-secondary btn-first">
                            Voir la promo
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

            <div class="col-md-5">
                <img class="img_promos" src="{{ site.theme.link }}/images/promo-2.png">
            </div>
            <div class="col-md-7 mt-3">
                <h5 class="t_promos"><b>Promo #4</b></h5>
                <p class="ccm-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                </p>
                <div>
                    <a href="#">
                        <button class="btn btn-secondary btn-first">
                            Voir la promo
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12"><hr></div>

            <div class="col-md-5">
                <img class="img_promos" src="{{ site.theme.link }}/images/promo-1.png">
            </div>
            <div class="col-md-7 mt-3">
                <h5 class="t_promos"><b>Promo #5</b></h5>
                <p class="ccm-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra nec sapien egestas volutpat. Nulla facilisi. Etiam ac purus pellentesque, consectetur diam vel, scelerisque purus. Donec tempor ante pellentesque, aliquet tortor nec, ultricies mauris.
                </p>
                <div>
                    <a href="#">
                        <button class="btn btn-secondary btn-first">
                            Voir la promo
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}